@page "/"

@rendermode @(new InteractiveServerRenderMode(prerender:false))

@attribute [StreamRendering]


<PageTitle>Load test</PageTitle>

<h1>Load test</h1>

<p>
    <button class="btn btn-info" @onclick="RefreshInfo">Refresh</button>
    unloaded contest status [@DateTime.Now]
    <br />
    <strong>@contexStatus</strong>
</p>
<br />

<p>

    <br />
    <br />
    <button class="btn btn-warning" @onclick="Collect">Collect</button>
    <label for="clearCheck">clear framework cache</label>
    <InputCheckbox id="clearCheck" @bind-Value="clearFramewokCache" />

</p>


@code {

    private string? contexStatus;

    private bool clearFramewokCache;

    private void RefreshInfo()
    {
        contexStatus = DynamicFormRepo.Info;
    }

    private void Collect()
    {
        DynamicFormRepo.Cleanup( clearFramewokCache  );

        RefreshInfo();
    }

}